language: node_js
node_js:
- "8.10"

env:
- SLS_DEBUG=* TWITTER_SCREEN_NAME=this_vid EXTERNAL_URL=thisvid.space

cache:
  directories:
  - node_modules

install: npm i && npm i -g serverless

stages:
- name: deploy
  if: branch = master

jobs:
  include:
  - stage: deploy
    script: sls deploy
