service: DownloadThisVideo
frameworkVersion: "^2.0.0"
plugins:
- serverless-dotenv-plugin
- serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  stage: beta
  memorySize: 128
  timeout: 100
  logRetentionInDays: 30
  iamRoleStatements:
    - Effect: Allow
      Action:
        - sns:Publish
      Resource:
        - "Fn::Join":
          - ':'
          - - "arn:aws:sns:us-east-1"
            - Ref: AWS::AccountId
            - "newMention"
    - Effect: Allow
      Action:
        - cloudwatch:PutMetricData
      Resource:
        - "*"
    - Effect: Allow
      Action:
        - cloudwatch:GetMetricStatistics
      Resource:
        - "*"

  environment:
    TWITTER_CONSUMER_KEY: ${env:TWITTER_CONSUMER_KEY}
    TWITTER_CONSUMER_SECRET: ${env:TWITTER_CONSUMER_SECRET}
    TWITTER_ACCESS_TOKEN: ${env:TWITTER_ACCESS_TOKEN}
    TWITTER_ACCESS_TOKEN_SECRET: ${env:TWITTER_ACCESS_TOKEN_SECRET}
    TWITTER_CALLBACK_URL: ${env:TWITTER_CALLBACK_URL}
    REDIS_HOSTNAME: ${env:REDIS_HOSTNAME}
    REDIS_PORT: ${env:REDIS_PORT}
    REDIS_PASSWORD: ${env:REDIS_PASSWORD}
    TWITTER_SCREEN_NAME: ${env:TWITTER_SCREEN_NAME}
    EXTERNAL_URL: ${env:EXTERNAL_URL}
    FIREBASE_PROJECT_ID: ${env:FIREBASE_PROJECT_ID}
    SENTRY_DSN: ${env:SENTRY_DSN}
    GTAG_ID: ${env:GTAG_ID}
    AD_CODE: ${env:AD_CODE}
    NODE_ENV: ${env:NODE_ENV}
    TOPIC_ARN:
      "Fn::Join":
      - ':'
      -
        - "arn:aws:sns:us-east-1"
        - Ref: AWS::AccountId
        - "newMention"

package:
  include:
  - views/**
  exclude:
  - "*.md"
  - "*.png"
  - "*.ico"
  - .*
  - .*/**
  - awscliv2.zip
  - aws/**
  - spec/**
  - assets/*.png

functions:
  fetchTweetsToDownload:
    handler: handler.fetchTweetsToDownload
    events:
    - schedule: rate(1 minute)

  retryFailedTasks:
    handler: handler.retryFailedTasks

  sendDownloadLink:
    handler: handler.sendDownloadLink
    events:
    - sns: newMention

  startTwitterSignIn:
    handler: handler.startTwitterSignIn
    events:
      - http:
          path: /_/starttwittersignin
          method: get

  completeTwitterSignIn:
    handler: handler.completeTwitterSignIn
    events:
      - http:
          path: /_/completetwittersignin
          method: get
          request:
            parameters:
              querystrings:
                username: true
                action: false
                fbtoken: false

  page:
    handler: handler.page
    events:
      - http:
          path: /p/{page}
          method: get
          request:
            parameters:
              paths:
                page: true

  getDownloadsOrStaticFiles:
    handler: handler.getDownloadsOrStaticFiles
    events:
    - http:
        path: /{username}
        method: get
        request:
          parameters:
            paths:
              username: true

  getHomePage:
    handler: handler.getHomePage
    events:
    - http:
        path: /
        method: get
