<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="https://raw.githubusercontent.com/shalvah/DownloadThisVideo/master/favicon.ico"
          type="image/x-icon"/>

    <!-- Primary Meta Tags -->
    <title>this_vid: Download videos and GIFs off Twitter</title>
    <meta name="title" content="this_vid: Download videos and GIFs off Twitter">
    <meta name="description" content="The easiest way to download any video or GIF from Twitter ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thisvid.space/">
    <meta property="og:title" content="this_vid: Download videos and GIFs off Twitter">
    <meta property="og:description" content="The easiest way to download any video or GIF from Twitter ">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://thisvid.space/">
    <meta property="twitter:title" content="this_vid: Download videos and GIFs off Twitter">
    <meta property="twitter:description" content="The easiest way to download any video or GIF from Twitter ">

    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Calibri, sans-serif;
            padding: 20px;
            display: flex;
            flex-direction: column;
            font-size: 1.5em;
            text-align: center;
        }

        .list-item {
            padding-bottom: 15px;
        }

        footer {
            height: 20%;
            text-align: center;
            padding-bottom: 6px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="content">
    <h2>Download videos and GIFs off Twitter</h2>
    <div class="list-item">
        🔍 Find a tweet containing a video or GIF.
    </div>
    <div class="list-item">
        💬 Mention <a href="https://twitter.com/this_vid">@this_vid</a> in a reply to the tweet.
    </div>
    <div class="list-item">
        ⌚ Give it a minute, and @this_vid will reply with a link to your download. 🔗<br>
        <small style="font-size: 0.7em; margin-left: 25px; margin-right: 25px;">PS. Twitter has a limit on the number of
            tweets we can post, so if you don't see a reply after 2 minutes, try checking
            thisvid.space/your-Twitter-handle for your download.
        </small>
    </div>

    <br>
    <b>Looking for your downloads?👀</b>
    <form onsubmit="event.preventDefault(); goToDownloads();">
        <input name="username" placeholder="Your Twitter username">
        <button type="submit">Take me there</button>
    </form>

    <script>
        function goToDownloads() {
            window.location = document.querySelector('input[name=username]').value;
        }
    </script>
</div>


<footer style="margin-bottom: 0; padding-bottom: 0">
    <div>
        <small style="font-size: 0.7em;">
            <b>Sponsored: </b><a href="{{{ link.url }}}">
                <img
                        src="https://github.com/shalvah/DownloadThisVideo/raw/master/assets/sponsored-logo.png"
                        style="height: 1.7em; vertical-align: middle;">&nbsp;{{ link.text }}</a>
        </small>
    </div>
    <br>
    <div>
        <small style="font-size: 0.7em;">
            <a href="https://www.patreon.com/shalvah">Support @this_vid</a>
            &nbsp;|&nbsp;
            <a href="/p/faq">See our FAQ</a>
            &nbsp;|&nbsp;
            <a href="https://github.com/shalvah/DownloadThisVideo">Check out the source code</a>
        </small>
    </div>
</footer>
</body>
